body {
    background-color: #525252;
}

.form {
      width: 100%;
      position: absolute;
      z-index: 100;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
