table.scroll {
      border-collapse: collapse;
      width: 100%;
      height: auto;
      border-spacing: 0;
      margin: 20px;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th {
      height: 30px;
      line-height: 30px;
}

table.scroll tbody {
      margin-top: 10px;
      height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
}

#div-list-parkings-collection table.scroll tbody {
      height: 100px;
}

tbody td, thead th {
      border-right: 1px solid black;
      white-space: nowrap;
      text-align: left;
}

tbody td:last-child, thead th:last-child {
      width: 20%;
      border-right: none;
}
