table.scroll {
      border-collapse: collapse;
      width: 100%;
      height: auto;
      border-spacing: 0;
      margin: 20px;
}

table.scroll tbody,
table.scroll thead { display: block; }


table.scroll td, table.scroll th {
      margin: 3px;
      padding: 0.4em;
      font-size: 1.4em;
      height: 18px;
}

thead tr th {
      height: 30px;
      line-height: 30px;
}

table.scroll tbody {
      margin-top: 10px;
      height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
}

/**
 *  This list is the lst of collections in main tab...
 *  is less higth...
 */
#div-list-parkings-collection table.scroll tbody {
      height: 100px;
}

tbody td, thead th {
      border-right: 1px solid black;
      white-space: nowrap;
      text-align: left;
}

tbody td:last-child, thead th:last-child {
      width: 10%;
      border-right: none;
}
